

  @media (max-width: 768px) {


    /*faq css*/
  }

  .c-faq__answer {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.48;
    font-size: 16px;
    color: #333;
  }

  body *,
  body *::after,
  body *::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }



  .section__headline {
    font-size: 62px;
    font-weight: light;
    color: #ff2b56;
    padding-left: 15px;
    padding-top: 30px;
  }

  .c-faqs__headline {
    text-align: left;
    padding-left: 15px;
    font-size: 1.5em;
    margin-top: 1.5em;
    font-weight: bold;
  }

  .c-faqs {
    margin: 15px 0;
    padding: 0 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }

  .c-faq {
    list-style: none;
    margin: 10px 0 5px;
  }

  .c-faq__title {
    cursor: pointer;
    font-weight: 500;
    background: white;
    z-index: 10;
    position: relative;
    font-size: 1.1em;
  }

  .c-faq__title:hover {
    text-decoration: underline;
  }

  .c-faq__title::after {
    white-space: nowrap;
    font-weight: 300;
    padding-left: 5px;
    opacity: 0;
    -webkit-transform-origin: 11px;
    transform-origin: 11px;
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    display: none;
    content: ">";
  }

  .c-faq--active .c-faq__title {
    color: #ff2b56;
  }

  .c-faq--active .c-faq__title::after {
    opacity: 1;
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    display: inline-block;
  }

  .c-faq__answer {
    font-weight: normal;
    margin-top: -10%;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    z-index: 1;
    font-size: 0.9em;
    color: #505050;
  }

  .c-faq--active .c-faq__answer {
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 10px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 3px;
    border: 1px solid #ff2b56;
    border-top: 1px solid #ff2b56;
    padding: 20px;
  }

  @media (min-width: 780px) {
    .c-faqs {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      height: auto;
    }

    .c-faqs::before {
      opacity: 0.2;
    }

    .c-faq {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .c-faq .c-faq__title {
      width: 50%;
      padding-right: 40px;
      display: inline-block;
    }

    .c-faq .c-faq__title::after {
      display: none;
    }

    .c-faq .c-faq__answer {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 50%;
      width: 50%;
      border-left-color: #ff2b56;
      border-top-color: #ff2b56;
    }
  }

  .c-note {
    font-size: 0.8em;
    padding-left: 15px;
    opacity: 0.5;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }

  .c-note:hover {
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }

  .c-note a {
    color: #ff2b56;
  }


.grid{
    display: grid;
    margin: 3rem 2rem;
    justify-items: center;
    grid-template-columns: auto auto auto auto auto auto;
  }
/* social icons */
#twitter {
    color:#1da1f2;
    font-size: 2rem;
  }
  #twitter:hover{color:#87caf3}
  
  #yelp {
    color:red;
    font-size: 2rem;
  }
  #yelp:hover{color:rgba(255, 0, 0, 0.514);}
  #google {
    color:#4285F4;
    font-size: 2rem;
  }
  #google:hover{color:rgb(122, 153, 194);}
  #instagram{
    color:#3f729b;
    font-size: 2rem;
  }
  #instagram:hover{color:rgb(122, 153, 194);}
  #linkedin{
    color:#0e76a8;
    font-size: 2rem;
  }
  
  #linkedin:hover{color: #798ea0;}
  #facebook{
    color:#3b5998;
    font-size: 2rem;
  }
  #facebook:hover{color:#798ea0;}
  .btn-action {
    
    background: var(--action-color);
    color: white;
  }

  .navbar {
    padding: 8px !important;
  }
  #nav-menu {
    margin-left: 21vw;
    cursor: pointer;
  }
  
  #nav-items a {
    margin: 0.5rem;
  }
  .date li{
    padding: 1rem;
  }

  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}