* {
  margin: 0;
}
#hero {
  background: url("../images/micro-soldering-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 4rem;
}
@media only screen and (max-width: 800px) {
  #hero {
    color: white;
    background: url("../images/micro-soldering-bg-2.jpg");
    /* margin-left: 2rem; */
    margin-top: -2rem;
    font-size: smaller;
  }
  .header-title {
    margin-top: '1em'
  }
}
#hero h1 {
  color: white;
}
#hero h2 {
  color: white;
}
.grid{
  display: grid;
  margin: 3rem 2rem;
  justify-items: center;
  grid-template-columns: auto auto auto auto auto auto;
}